// UI Main

$cobalt:          #0050b3 !default;
$midnight-blue:   #002766 !default;
$dodger-blue:     #1890ff !default;
$regent-st-blue:  #a1c0e6 !default;
$lily-white:      #e6f7ff !default;
$fire:            #b34500 !default;

// Greyscale
$mine-shaft:      #262626 !default;
$silver:          #bfbfbf !default;
$wild-sand:       #f5f5f5 !default;

// Notifications

// These colours should be used for notifications only. These can include inline validation on forms or on banners and popups.
// The lighter tones should only be used as background shades for the notification object,
// while the darker tones for text on the notification object.

// The inverse is never true. The corresponding hues must be used - Riptide must be used with Green Pea, for example, but not with any others.

$green-pea:       #1f665f !default;
$himalaya:        #66581f !default;
$metallic-copper: #66221f !default;
$fern-frond:      #3e661f !default;
$riptide:         #87e8de !default;
$buttermilk:      #fff1b8 !default;
$mona-lisa:       #ffa39e !default;
$sulu:            #b7eb8f !default;

// Data Visualization

// These colours should be used for data visualisations only. This includes their use on any diagrams or graphs, but not anywhere else. 

// When using graphs that indicate continuous data, use gradients to illustrate progression from high to low, or vice versa.
// Data that indicate relatively higher values should always be indicated in a darker shade, whereas data that indicate relatively lower values should always be in a lighter shade. 

// Conversely, when using graphs that indicate categorical data, use distinct colours that allow the user to clearly differentiate between groups.
// Checking WCAG is important here to ensure that the combination of colours used have clear contrast and meet accessibility standards (at least Level AA).

$bordeaux:        #67001F !default;
$cardinal:        #B2182B !default;
$red-damask:      #D6604D !default;
$tacao:           #F4A582 !default;
$negroni:         #FDDBC7 !default;
// wild-sand
$link-water:      #D1E5F0 !default;
$morning-glory:   #92C5DE !default;
$boston-blue:     #4393C3 !default;
$matisse:         #2166AC !default;
$green-vogue:     #053061 !default;
$tutu:            #FFF7FB !default;
$whisper:         #ECE7F2 !default;
$blue-haze:       #D0D1E6 !default;
$pigeon-post:     #A6BDDB !default;
$danube:          #74A9CF !default;
$boston-blue:     #4393C3 !default;
$deep-cerulean:   #0570B0 !default;
$venice-blue:     #034E7B !default;
$astronaut-blue:  #023858 !default;
