// UI Main

$cobalt:          #0050b3 !default;
$midnight-blue:   #0050b3 !default;
$dodger-blue:     #1890ff !default;
$regent-st-blue:  #a1c0e6 !default;
$lily-white:      #e6f7ff !default;
$fire:            #b34500 !default;

// Greyscale
$mine-shaft:      #262626 !default;
$silver:          #bfbfbf !default;
$wild-sand:       #f5f5f5 !default;

// Notifications

// These colours should be used for notifications only. These can include inline validation on forms or on banners and popups.
// The lighter tones should only be used as background shades for the notification object,
// while the darker tones for text on the notification object.

// The inverse is never true. The corresponding hues must be used - Riptide must be used with Green Pea, for example, but not with any others.

$green-pea:       #1f665f !default;
$himalaya:        #66581f !default;
$metallic-copper: #66221f !default;
$fern-frond:      #3e661f !default;
$riptide:         #87e8de !default;
$buttermilk:      #fff1b8 !default;
$mona-lisa:       #ffa39e !default;
$sulu:            #b7eb8f !default;
