// Padding
$padding-xx:   4px;
$padding-xs:    8px;
$padding-sm:    12px;
$padding-md:    16px;
$padding-lg:    24px;
$padding-xl:    32px;
$padding-xxl:   40px;
$padding-xxxl:  48px;
$padding-xxxxl: 64px;