@import 'colors';

.title {
  font-weight: 500;
  font-size: 24px;
  color: $cobalt;
}

.header-1 {
  font-size: 20px;
  color: #002766;
}

.header-2 {
  font-size: 20px;
  color: #262626;
}

.header-3 {
  font-size: 16px;
  color: #262626;
}

.header-3 {
  font-weight: 500;
  font-size: 16px;
  color: #262626;
}

.text {
  font-size: 14px;
  color: #262626;
}

.text {
  font-weight: 300;
  font-size: 12px;
  color: #262626;
}