@import '../../theme/colors';
@import '../../theme/typography';

.container {
  display: flex;
  flex-direction: column;

  &:focus-within {
    color: $cobalt;
    transition: 0.5s color;
  }

  label {
    flex: 1;
  
    font-family: $theme-font;
    font-size: 12px;
    font-weight: 200;
  }

  input {
    flex: 1;
  
    font-family: $theme-font;
    font-size: 14px;
    font-weight: 400;
    color: $mine-shaft;
  
    border: 2px solid $silver;
    border-radius: 3px;
    padding: 5px 15px;
  
    transition: 0.5s border-color;

    &:focus {
      transition: 0.5s border-color;
      border-color: $cobalt;
      color: $cobalt;
    }
  }
}
